/* Basement Self Image Styles */

.self-container {
  position: fixed;
  bottom: calc(25vh * 2/3); /* 1/3 from bottom of floor (floor is 25vh tall) */
  left: 50%;
  transform: translateX(-50%);
  z-index: 500;
  height: 30vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#self-shader-container {
  height: 100%;
  width: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#self-shader-container canvas {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

