/* Basement Self Image Styles */

.self-container {
  position: fixed;
  bottom: calc(25vh * 2/3); /* 1/3 from bottom of floor (floor is 25vh tall) */
  left: 50%;
  transform: translateX(-50%);
  z-index: 500;
  height: 30vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.self-image {
  height: 100%;
  width: auto;
  display: block;
  object-fit: contain;
}

