@font-face {
    font-family: 'VT323'; /* Choose a unique name for your font */
    src: url('font/vt323-regular1-webfont.woff2') format('woff2'),
    src: url('font/vt323-regular1-webfont.woff') format('woff'), /* Specify the path to your WOFF2 file */
    font-weight: normal; /* Define the font weight (e.g., normal, bold, 400, 700) */
    font-style: normal; /* Define the font style (e.g., normal, italic) */
  }

a {
   text-decoration:none ;
    color: rgb(26, 92, 125);
}

a:hover{
    position: absolute;
    color:aquamarine;
    text-decoration: solid !important;
    text-decoration-thickness: 5px;
    text-decoration-color: green;
    font-size: 84px;
    transition: 0.2s ease-in-out;
    transform: rotate3d(1,1,1,30deg) scale(1.5);

}



a:visited{

    color: rosybrown;

}

body{
    background-image: url('img/stars-galaxy.gif');

    background-size: cover;
}

.heading{
    padding: 20px;
}

  .entry{
    font-family: 'VT323';
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    padding-left: 50px;
  }

  .wrapper{
    width: 100vw; /* viewport width */

    color: greenyellow;
  }


  h1 {
    font-family: 'VT323';
    font-size: 30px;
    color: lightcoral;
    font-weight: normal;
    font-style: normal;
  }
  
  
  
  #test {
 color:aqua;
 text-decoration: underline;
 text-decoration-thickness: 5px;
 text-decoration-color: lightcoral;
  }


  .photo1 {
    background-color: blueviolet;
    width: 20%;
    height: 300px;
    position: fixed; 
    display: block;
    border: 10px solid lightcoral;
    padding: 50px;
    margin: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .photo1 img{
    width: 100%;
  }



  .photo2 {
    background-color: violet;
    width: 10vw;
    height: 50vh; /* viewport height */
    position: absolute; 
    
    display: block;
    border: 10px solid lightcoral;
    padding: 50px 0 0 0;
    margin: 20px;
    top: 30%;
    z-index: -10;
    opacity: 0.3;


  }

  .photo2 img{
    width: 100%;
    
  }
  

